In [50]:
import pandas as pd
import numpy as np

In [51]:
df=pd.read_csv('train_ship.csv'  )

In [52]:
df.head()

,Customer Id,Artist Name,Artist Reputation,Height,Width,Weight,Material,Price Of Sculpture,Base Shipping Price,International,Express Shipment,Installation Included,Transport,Fragile,Customer Information,Remote Location,Scheduled Date,Delivery Date,Customer Location,Cost
0,fffe3900350033003300,Billy Jenkins,0.26,17.0,6.0,4128.0,Brass,13.91,16.27,Yes,Yes,No,Airways,No,Working Class,No,06/07/15,06/03/15,"New Michelle, OH 50777",-283.29
1,fffe3800330031003900,Jean Bryant,0.28,3.0,3.0,61.0,Brass,6.83,15.00,No,No,No,Roadways,No,Working Class,No,03/06/17,03/05/17,"New Michaelport, WY 12072",-159.96
2,fffe3600370035003100,Laura Miller,0.07,8.0,5.0,237.0,Clay,4.96,21.18,No,No,No,Roadways,Yes,Working Class,Yes,03/09/15,03/08/15,"Bowmanshire, WA 19241",-154.29
3,fffe350031003300,Robert Chaires,0.12,9.0,NaN,NaN,Aluminium,5.81,16.31,No,No,No,NaN,No,Wealthy,Yes,05/24/15,05/20/15,"East Robyn, KY 86375",-161.16
4,fffe3900320038003400,Rosalyn Krol,0.15,17.0,6.0,324.0,Aluminium,3.18,11.94,Yes,Yes,Yes,Airways,No,Working Class,No,12/18/16,12/14/16,"Aprilside, PA 52793",-159.23

In [53]:
df.tail()

,Customer Id,Artist Name,Artist Reputation,Height,Width,Weight,Material,Price Of Sculpture,Base Shipping Price,International,Express Shipment,Installation Included,Transport,Fragile,Customer Information,Remote Location,Scheduled Date,Delivery Date,Customer Location,Cost
6495,fffe3800370037003300,Jeffrey Freudenthal,0.37,37.0,10.0,16551.0,Brass,28.28,38.46,Yes,Yes,No,Airways,No,Wealthy,Yes,03/28/18,03/25/18,"New Robert, VT 85335",872.43
6496,fffe310036003400,Larry Edwards,0.67,15.0,NaN,18981.0,NaN,67.18,27.72,No,No,No,Roadways,No,Working Class,No,08/29/15,08/27/15,"New Joshua, VA 35766",1347.02
6497,fffe3600300031003300,Denise Worth,0.68,19.0,8.0,587.0,Clay,6.92,10.38,Yes,No,No,NaN,Yes,Wealthy,No,04/10/19,04/09/19,"Lake Kelly, MA 80823",354.55
6498,fffe3600350035003900,Daniel Drew,0.02,33.0,9.0,1269377.0,Stone,2929.13,69.76,No,Yes,No,Roadways,No,Working Class,Yes,03/10/19,03/12/19,"Hintonberg, UT 35006",5037.50
6499,fffe3700310031003600,Vernon Carroll,0.18,30.0,13.0,34729.0,Brass,46.63,78.25,No,Yes,No,Airways,No,Working Class,No,12/03/16,12/05/16,"New Christopher, AK 87406",722.47

In [54]:
df['Artist Name']

0             Billy Jenkins
1               Jean Bryant
2              Laura Miller
3            Robert Chaires
4              Rosalyn Krol
               ...
6495    Jeffrey Freudenthal
6496          Larry Edwards
6497           Denise Worth
6498            Daniel Drew
6499         Vernon Carroll
Name: Artist Name, Length: 6500, dtype: object

In [55]:
df['Artist Name'][0]

'Billy Jenkins'

In [56]:
df.iloc[0]

Customer Id                fffe3900350033003300
Artist Name                       Billy Jenkins
Artist Reputation                          0.26
Height                                       17
Width                                         6
Weight                                     4128
Material                                  Brass
Price Of Sculpture                        13.91
Base Shipping Price                       16.27
International                               Yes
Express Shipment                            Yes
Installation Included                        No
Transport                               Airways
Fragile                                      No
Customer Information              Working Class
Remote Location                              No
Scheduled Date                         06/07/15
Delivery Date                          06/03/15
Customer Location        New Michelle, OH 50777
Cost                                    -283.29
Name: 0, dtype: object

In [57]:
df.iloc[: , 1]

0             Billy Jenkins
1               Jean Bryant
2              Laura Miller
3            Robert Chaires
4              Rosalyn Krol
               ...
6495    Jeffrey Freudenthal
6496          Larry Edwards
6497           Denise Worth
6498            Daniel Drew
6499         Vernon Carroll
Name: Artist Name, Length: 6500, dtype: object

In [58]:
df.iloc[:3, 1]

0    Billy Jenkins
1      Jean Bryant
2     Laura Miller
Name: Artist Name, dtype: object

In [59]:
df.iloc[1:3, 0]

1    fffe3800330031003900
2    fffe3600370035003100
Name: Customer Id, dtype: object

In [60]:
df.iloc[-5:]

,Customer Id,Artist Name,Artist Reputation,Height,Width,Weight,Material,Price Of Sculpture,Base Shipping Price,International,Express Shipment,Installation Included,Transport,Fragile,Customer Information,Remote Location,Scheduled Date,Delivery Date,Customer Location,Cost
6495,fffe3800370037003300,Jeffrey Freudenthal,0.37,37.0,10.0,16551.0,Brass,28.28,38.46,Yes,Yes,No,Airways,No,Wealthy,Yes,03/28/18,03/25/18,"New Robert, VT 85335",872.43
6496,fffe310036003400,Larry Edwards,0.67,15.0,NaN,18981.0,NaN,67.18,27.72,No,No,No,Roadways,No,Working Class,No,08/29/15,08/27/15,"New Joshua, VA 35766",1347.02
6497,fffe3600300031003300,Denise Worth,0.68,19.0,8.0,587.0,Clay,6.92,10.38,Yes,No,No,NaN,Yes,Wealthy,No,04/10/19,04/09/19,"Lake Kelly, MA 80823",354.55
6498,fffe3600350035003900,Daniel Drew,0.02,33.0,9.0,1269377.0,Stone,2929.13,69.76,No,Yes,No,Roadways,No,Working Class,Yes,03/10/19,03/12/19,"Hintonberg, UT 35006",5037.50
6499,fffe3700310031003600,Vernon Carroll,0.18,30.0,13.0,34729.0,Brass,46.63,78.25,No,Yes,No,Airways,No,Working Class,No,12/03/16,12/05/16,"New Christopher, AK 87406",722.47

In [61]:
# to find what is Present at the 0 index of Particular Columns
df.loc[0, 'Artist Name']

'Billy Jenkins'

In [62]:
df.loc[:, ['Artist Name', 'Artist Reputation', 'Artist Reputation']]

              Artist Name  Artist Reputation  Artist Reputation
0           Billy Jenkins               0.26               0.26
1             Jean Bryant               0.28               0.28
2            Laura Miller               0.07               0.07
3          Robert Chaires               0.12               0.12
4            Rosalyn Krol               0.15               0.15
...                   ...                ...                ...
6495  Jeffrey Freudenthal               0.37               0.37
6496        Larry Edwards               0.67               0.67
6497         Denise Worth               0.68               0.68
6498          Daniel Drew               0.02               0.02
6499       Vernon Carroll               0.18               0.18

[6500 rows x 3 columns]

Manipulating the index

In [63]:
df.Material == 'Brass'

0        True
1        True
2       False
3       False
4       False
        ...
6495     True
6496    False
6497    False
6498    False
6499     True
Name: Material, Length: 6500, dtype: bool

In [64]:
df.loc[df.Material == 'Brass']

,Customer Id,Artist Name,Artist Reputation,Height,Width,Weight,Material,Price Of Sculpture,Base Shipping Price,International,Express Shipment,Installation Included,Transport,Fragile,Customer Information,Remote Location,Scheduled Date,Delivery Date,Customer Location,Cost
0,fffe3900350033003300,Billy Jenkins,0.26,17.0,6.0,4128.0,Brass,13.91,16.27,Yes,Yes,No,Airways,No,Working Class,No,06/07/15,06/03/15,"New Michelle, OH 50777",-283.29
1,fffe3800330031003900,Jean Bryant,0.28,3.0,3.0,61.0,Brass,6.83,15.00,No,No,No,Roadways,No,Working Class,No,03/06/17,03/05/17,"New Michaelport, WY 12072",-159.96
6,fffe3800360033003700,David Hawes,0.64,17.0,9.0,7264.0,Brass,8.26,90.67,No,Yes,No,Roadways,No,Working Class,No,06/05/16,06/02/16,"South Matthew, WV 76033",-1536.66
14,fffe310033003100,Patricia Crosslin,0.69,21.0,6.0,3954.0,Brass,14.03,16.43,Yes,No,Yes,Waterways,No,Working Class,No,04/30/18,05/03/18,"Kruegerchester, TX 85901",-359.72
26,fffe3400350031003200,Chris Gomez,0.20,25.0,9.0,7901.0,Brass,8.56,93.59,No,No,No,Waterways,No,Working Class,Yes,10/03/17,10/04/17,"West Raymondfurt, VT 08481",-547.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6455,fffe3900350032003700,Lucille Williams,0.96,9.0,4.0,221.0,Brass,3.99,11.51,Yes,Yes,Yes,Airways,No,Working Class,No,12/01/15,11/28/15,"Gayburgh, OR 79345",366.00
6458,fffe3300380032003700,Donald Mullins,NaN,31.0,6.0,13168.0,Brass,12.93,83.01,No,Yes,No,Airways,No,Wealthy,No,03/14/18,03/11/18,"Reidberg, WI 43742",580.09
6475,fffe3400370034003500,John Wilkins,0.63,12.0,8.0,3569.0,Brass,10.46,15.95,No,Yes,No,NaN,No,Wealthy,No,12/29/15,12/31/15,"South Manuelborough, MO 86421",371.97
6495,fffe3800370037003300,Jeffrey Freudenthal,0.37,37.0,10.0,16551.0,Brass,28.28,38.46,Yes,Yes,No,Airways,No,Wealthy,Yes,03/28/18,03/25/18,"New Robert, VT 85335",872.43
6499,fffe3700310031003600,Vernon Carroll,0.18,30.0,13.0,34729.0,Brass,46.63,78.25,No,Yes,No,Airways,No,Working Class,No,12/03/16,12/05/16,"New Christopher, AK 87406",722.47

In [65]:
# finding the material Brass which having width > 9 
df.loc[(df.Material == 'Brass') & (df.Width >= 9)]

,Customer Id,Artist Name,Artist Reputation,Height,Width,Weight,Material,Price Of Sculpture,Base Shipping Price,International,Express Shipment,Installation Included,Transport,Fragile,Customer Information,Remote Location,Scheduled Date,Delivery Date,Customer Location,Cost
6,fffe3800360033003700,David Hawes,0.64,17.0,9.0,7264.0,Brass,8.26,90.67,No,Yes,No,Roadways,No,Working Class,No,06/05/16,06/02/16,"South Matthew, WV 76033",-1536.66
26,fffe3400350031003200,Chris Gomez,0.20,25.0,9.0,7901.0,Brass,8.56,93.59,No,No,No,Waterways,No,Working Class,Yes,10/03/17,10/04/17,"West Raymondfurt, VT 08481",-547.81
38,fffe3900320032003700,Magdalena Jordan,0.59,22.0,15.0,16046.0,Brass,99.52,89.55,Yes,No,Yes,Waterways,No,Working Class,No,06/28/15,06/28/15,APO AP 17205,-4895.23
42,fffe3400390034003300,George Trovillion,0.86,49.0,17.0,196893.0,Brass,116.30,81.85,Yes,No,Yes,Waterways,No,Working Class,No,01/26/18,01/24/18,"Andrewtown, LA 46069",-5364.93
95,fffe3300350037003500,Charles Decker,NaN,35.0,13.0,NaN,Brass,88.84,34.46,No,No,No,NaN,No,Working Class,No,03/30/17,04/02/17,"Obrienside, MT 61007",-2135.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6431,fffe3600320035003100,Monique Brooks,0.78,22.0,14.0,25724.0,Brass,77.59,53.31,No,Yes,Yes,Airways,No,Working Class,No,06/02/18,05/31/18,"South Jeffreyton, DC 24254",5638.58
6442,fffe3700330035003400,Thomas Spengler,0.24,37.0,13.0,58873.0,Brass,70.11,70.42,Yes,No,No,Waterways,No,Working Class,No,05/27/15,05/27/15,"South Travis, NJ 90729",795.24
6443,fffe3800310038003200,Willie Benscoter,0.63,43.0,21.0,160407.0,Brass,474.13,45.02,No,No,Yes,Roadways,No,Working Class,No,07/28/16,07/28/16,"Yeseniatown, UT 47605",5054.64
6495,fffe3800370037003300,Jeffrey Freudenthal,0.37,37.0,10.0,16551.0,Brass,28.28,38.46,Yes,Yes,No,Airways,No,Wealthy,Yes,03/28/18,03/25/18,"New Robert, VT 85335",872.43
6499,fffe3700310031003600,Vernon Carroll,0.18,30.0,13.0,34729.0,Brass,46.63,78.25,No,Yes,No,Airways,No,Working Class,No,12/03/16,12/05/16,"New Christopher, AK 87406",722.47

In [66]:
df.loc[(df.Material == 'Brass') | (df.Width >= 9)]

,Customer Id,Artist Name,Artist Reputation,Height,Width,Weight,Material,Price Of Sculpture,Base Shipping Price,International,Express Shipment,Installation Included,Transport,Fragile,Customer Information,Remote Location,Scheduled Date,Delivery Date,Customer Location,Cost
0,fffe3900350033003300,Billy Jenkins,0.26,17.0,6.0,4128.0,Brass,13.91,16.27,Yes,Yes,No,Airways,No,Working Class,No,06/07/15,06/03/15,"New Michelle, OH 50777",-283.29
1,fffe3800330031003900,Jean Bryant,0.28,3.0,3.0,61.0,Brass,6.83,15.00,No,No,No,Roadways,No,Working Class,No,03/06/17,03/05/17,"New Michaelport, WY 12072",-159.96
5,fffe3300390039003900,Tracy Francis,0.99,46.0,19.0,1178.0,Wood,6.16,16.88,No,Yes,No,NaN,No,Wealthy,No,08/28/15,08/26/15,"Maddenberg, AL 43096",-1922.78
6,fffe3800360033003700,David Hawes,0.64,17.0,9.0,7264.0,Brass,8.26,90.67,No,Yes,No,Roadways,No,Working Class,No,06/05/16,06/02/16,"South Matthew, WV 76033",-1536.66
7,fffe3800300039003800,David Osher,0.74,23.0,10.0,3287.0,Clay,12.81,13.25,Yes,No,No,Waterways,Yes,Wealthy,No,06/04/19,05/31/19,"Davidmouth, CA 37824",-422.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,fffe3800350039003100,Tiffanie Moreno,0.80,17.0,12.0,424586.0,Stone,1648.14,61.13,No,No,Yes,Roadways,No,Working Class,No,09/12/15,09/14/15,"Murphystad, MO 17941",5177.64
6494,fffe3300370030003500,Karen Bayles,0.45,NaN,28.0,10851.0,Aluminium,30.83,67.70,No,No,Yes,Roadways,No,Working Class,No,04/19/16,04/21/16,"Singletonstad, MD 79303",1076.85
6495,fffe3800370037003300,Jeffrey Freudenthal,0.37,37.0,10.0,16551.0,Brass,28.28,38.46,Yes,Yes,No,Airways,No,Wealthy,Yes,03/28/18,03/25/18,"New Robert, VT 85335",872.43
6498,fffe3600350035003900,Daniel Drew,0.02,33.0,9.0,1269377.0,Stone,2929.13,69.76,No,Yes,No,Roadways,No,Working Class,Yes,03/10/19,03/12/19,"Hintonberg, UT 35006",5037.50
6499,fffe3700310031003600,Vernon Carroll,0.18,30.0,13.0,34729.0,Brass,46.63,78.25,No,Yes,No,Airways,No,Working Class,No,12/03/16,12/05/16,"New Christopher, AK 87406",722.47

In [67]:
df.loc[df.Material.isin(['Brass', 'Wood'])]

,Customer Id,Artist Name,Artist Reputation,Height,Width,Weight,Material,Price Of Sculpture,Base Shipping Price,International,Express Shipment,Installation Included,Transport,Fragile,Customer Information,Remote Location,Scheduled Date,Delivery Date,Customer Location,Cost
0,fffe3900350033003300,Billy Jenkins,0.26,17.0,6.0,4128.0,Brass,13.91,16.27,Yes,Yes,No,Airways,No,Working Class,No,06/07/15,06/03/15,"New Michelle, OH 50777",-283.29
1,fffe3800330031003900,Jean Bryant,0.28,3.0,3.0,61.0,Brass,6.83,15.00,No,No,No,Roadways,No,Working Class,No,03/06/17,03/05/17,"New Michaelport, WY 12072",-159.96
5,fffe3300390039003900,Tracy Francis,0.99,46.0,19.0,1178.0,Wood,6.16,16.88,No,Yes,No,NaN,No,Wealthy,No,08/28/15,08/26/15,"Maddenberg, AL 43096",-1922.78
6,fffe3800360033003700,David Hawes,0.64,17.0,9.0,7264.0,Brass,8.26,90.67,No,Yes,No,Roadways,No,Working Class,No,06/05/16,06/02/16,"South Matthew, WV 76033",-1536.66
13,fffe3400370033003400,James Davis,0.54,26.0,9.0,NaN,Wood,6.47,17.55,No,Yes,Yes,NaN,No,Working Class,No,09/16/18,09/17/18,"West Shannonside, WA 15898",-334.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6484,fffe3600370038003300,Myles Fitzpatrick,0.45,16.0,7.0,140.0,Wood,4.36,18.01,No,Yes,Yes,Roadways,No,Working Class,No,03/18/18,03/19/18,"Lake Mary, RI 19145",211.41
6487,fffe3200350033003500,Lloyd Sartin,0.38,30.0,9.0,649.0,Wood,5.23,15.00,No,Yes,Yes,NaN,No,Wealthy,NaN,01/28/18,01/25/18,"Port Jason, SD 78959",268.72
6493,fffe350037003800,William Curry,NaN,13.0,8.0,154.0,Wood,5.33,13.00,No,Yes,No,Airways,No,Wealthy,No,03/16/17,03/16/17,"Jerryland, CO 24340",174.57
6495,fffe3800370037003300,Jeffrey Freudenthal,0.37,37.0,10.0,16551.0,Brass,28.28,38.46,Yes,Yes,No,Airways,No,Wealthy,Yes,03/28/18,03/25/18,"New Robert, VT 85335",872.43
6499,fffe3700310031003600,Vernon Carroll,0.18,30.0,13.0,34729.0,Brass,46.63,78.25,No,Yes,No,Airways,No,Working Class,No,12/03/16,12/05/16,"New Christopher, AK 87406",722.47

In [68]:
df.describe()

,Artist Reputation,Height,Width,Weight,Price Of Sculpture,Base Shipping Price,Cost
count,5750.000000,6125.000000,5916.000000,5.913000e+03,6500.00000,6500.000000,6.500000e+03
mean,0.461850,21.766204,9.617647,4.006948e+05,1192.42009,37.407174,1.713920e+04
std,0.265781,11.968192,5.417000,2.678081e+06,8819.61675,26.873519,2.406579e+05
min,0.000000,3.000000,2.000000,3.000000e+00,3.00000,10.000000,-8.801727e+05
25%,0.240000,12.000000,6.000000,5.030000e+02,5.23000,16.700000,1.884400e+02
50%,0.450000,20.000000,8.000000,3.102000e+03,8.02500,23.505000,3.820650e+02
75%,0.680000,30.000000,12.000000,3.645600e+04,89.47000,57.905000,1.156115e+03
max,1.000000,73.000000,50.000000,1.179279e+08,382385.67000,99.980000,1.114343e+07

In [69]:
# mean for Particular Columns
df['Height'].mean()

21.766204081632655

In [70]:
df['Width'].mean()

9.617647058823529

In [71]:
df['Weight'].mean()

400694.8219178082

In [72]:
# to see unique function
df['Material'].unique()

array(['Brass', 'Clay', 'Aluminium', 'Wood', 'Marble', 'Bronze', 'Stone',
       nan], dtype=object)

In [73]:
df['Material'].value_counts()

Brass        847
Aluminium    845
Bronze       821
Marble       819
Wood         816
Clay         816
Stone        772
Name: Material, dtype: int64

In [77]:
df.groupby('Weight').Width.count()

Weight
3.0            0
4.0            2
5.0            2
6.0            2
8.0            3
              ..
47544217.0     1
47717848.0     1
49145353.0     1
53118478.0     1
117927869.0    1
Name: Width, Length: 4410, dtype: int64